<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/new.css" />
  </head>
  <body>
    <form action="/<%= foundUser.id %>?_method=PATCH" method="post">
      <div class="field">
        <label for="name">User name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter name"
          value="<%= foundUser.user %>"
        />
      </div>

      <div>
        <label for="comment">Comment</label>
        <input
          type="text"
          name="comment"
          id="comment"
          placeholder="Enter comment"
          value="<%= foundUser.comment %>"
        />
      </div>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
